

@{
    ViewData["Title"] = "Profile";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <h2>ประวัติส่วนตัว</h2>
    <img src="~/images/Atitiya..jpg" alt="Atitiya" width="150" height="200"> <br /><br />
    <strong>ชื่อ:</strong> นางสาวอทิติญา บัวบรรเทา<br />
    <strong>รหัสนักศึกษา:</strong> 5804101410<br />
    <strong>ชื่อเล่น:</strong> มด<br />

    <!-- <abbr title="Phone">P:</abbr>-->

</address>

<address>
    <h2>การศึกษา</h2>
    <strong>ระดับมัธยมศึกษาตอนต้น:</strong> โรงเรียนนวมินทราชูทิศ พายัพ จ.เชียงใหม่<br />
    <strong>ระดับมัธยมศึกษาตอนปลาย:</strong></strong> โรงเรียนเทศบาลวัดกลาง จ.ขอนแก่น<br />
    <strong>ระดับปริญญาตรี: ปัจจุบัน</strong></strong> สาขาวิชาวิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์ มหาวิทยาลัยแม่โจ้ จ.เชียงใหม่<br />
</address>

<address>
    <h2>ติดต่อ</h2>
    <strong>เบอร์โทรศัพท์:</strong> 083-3394316<br />
    <strong>Facebook:</strong> Atitiya Buabanthao<br />
    <strong>LINE:</strong> modatitiya<br />
    <strong>E-mail:</strong> atitiyabuabanthao@gmail.com
</address>
